ul.header-menu__menu-list
	li.header-menu__item.header-menu__item--active Home
	li.header-menu__item About Us
	li.header-menu__item Services <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5"/>
		</svg>

	li.header-menu__item Careers
	li.header-menu__item News
	li.header-menu__item Documentation