&__menu-container {

  display: flex;
  // margin-top: 8.4375rem;
  // margin-left:8.73375rem;
  max-width: 1099.26px;
  // height: 610px;
  justify-content: space-between;
flex-wrap: wrap;

flex-basis:1099.26px ;
}

