.rich-checkbox {
  display: flex;
  &__text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    margin-bottom: 7px;
  }
  &__discription{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.5);
  }
}
.rich-checkbox>input {
  position: absolute;
  display: none;
}
.rich-checkbox>.rich-checkbox__text {
  margin-top: 1px;
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}
.rich-checkbox_fake {
  display: inline-flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-right: 10px;
}
.rich-checkbox_fake::before {
  content: '';
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url("img/checked.svg");
  opacity: 0;
}
.rich-checkbox>input:checked + .rich-checkbox_fake::before {
  opacity: 1;
}
.rich-checkbox>input:checked+.rich-checkbox_fake {
  border-color:#BC9CFF;
}