.dropdown-room__dropdown-field
  .dropdown-room__arrow
    img(src="./src/img/expand_more.svg", alt="стрелка")
  input(class="text-field-default dropdown-room__text-field-default" type="text" value ="Особенности номера" disabled )
.dropdown-room__dropdown-body
  ul.dropdown-room__list
    li.dropdown-room__item.bedrooms
        .dropdown-room__item-name спальни
        .dropdown-room__minus-button.minus-button
          include ../minus-button/minus-button
        .dropdown-room__count 0
        .dropdown-room__plus-button.plus-button
          include ../plus-button/plus-button
    li.dropdown-room__item.beds
        .dropdown-room__item-name кровати
        .dropdown-room__minus-button.minus-button
          include ../minus-button/minus-button
        .dropdown-room__count 0
        .dropdown-room__plus-button.plus-button
          include ../plus-button/plus-button
    li.dropdown-room__item.baths
        .dropdown-room__item-name ванные комнаты
        .dropdown-room__minus-button.minus-button
          include ../minus-button/minus-button
        .dropdown-room__count 0
        .dropdown-room__plus-button.plus-button
          include ../plus-button/plus-button