.Standart-Nav-Bar__body
				.Standart-Nav-Bar__logo.logo
					include ../logo/logo
				nav.Standart-Nav-Bar__header-menu.header-menu
					include ../header-menu/header-menu
				.Standart-Nav-Bar__button-default.button-default
					include ../button-default/button-default
				.Standart-Nav-Bar__button-else.button-else
					include ../button-else/button-else