//@forward "../../../scss/main.scss";
.Standart-Nav-Bar {

   &__body {

position: absolute;
width: 1440px;
height: 70px;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
   }

   &__logo {
      position: absolute;
width: 105.69px;
height: 40px;
left: 140px;
top: 15px;

   }

   &__header-menu {
      position: absolute;
width: 527px;
height: 21px;
left: 543px;
top: 26px;

   }

   &__button-default {
      position: absolute;
width: 101px;
height: 34px;
left: 1199px;
top: 18px;
   }

   &__button-else {
      position: absolute;
width: 79px;
height: 34px;
left: 1100px;
top: 18px;
   }
}