&__text--Body {

  width: 301px;
  height: 48px;
  

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */


  /* Dark 75% */

  color: rgba(31, 32, 65, 0.75);
}