<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="reset.css")
		link(rel="stylesheet", href="app.css")
		link(rel="stylesheet", href="fonts.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
		.headers-and-footers
			.headers-and-footers__emblem.emblem
				include ../Blocks/emblem/emblem
			.headers-and-footers__Standart-Nav-Bar.Standart-Nav-Bar
				include ../Blocks/Standart-Nav-Bar/Standart Nav Bar
			.headers-and-footers__Standart-Logged-In-Nav-Bar.Standart-Logged-In-Nav-Bar
				include ../Blocks/Standart-Logged-In-Nav-Bar/Standart-Logged-In-Nav-Bar
			.headers-and-footers__Footer-Widgets-and-Copyright-Bar.Footer-Widgets-and-Copyright-Bar
				.Footer-Widgets-and-Copyright-Bar__logo-text.logo-text
				.Footer-Widgets-and-Copyright-Bar__navigation-menu.navigation-menu
				.Footer-Widgets-and-Copyright-Bar__about-us-menu.about-us-menu
				.Footer-Widgets-and-Copyright-Bar__support-menu.support-menu
				.Footer-Widgets-and-Copyright-Bar__subscribe.subscribe
				.Footer-Widgets-and-Copyright-Bar__copyrite-bar.copyrite-bar
			.headers-and-footers__Footer-Creative.Footer-Creative
