<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="reset.css")
    link(rel="stylesheet", href="./slick/slick.css")
    link(rel="stylesheet", href="app.css")
    link(rel="stylesheet", href="fonts.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cards
  body 
    include ./mixins
    .cards
      .emblem
        +emblem()
      .container
        .colomn1
          form.room-selection
            +room-selection()
          form.registration
            +registration()
        .colomn2
          form.reservation
            +reservation()
          form.login
           +login()
        .colomn3
          .calendar
           +calendar()
          .room-card-lux
            +room-card-lux(888,"9 990",5,145)
          .room-card
            +room-card(840,"9 900",4,65)