.dopdown-guests__dropdown-field
  .dopdown-guests__arrow
    img(src="./src/img/expand_more.svg", alt="стрелка")
  input(class="text-field-default" type="text" disabled )
.dopdown-guests__dropdown-body
  ul.dopdown-guests__list
    li.dopdown-guests__item
      .dopdown-guests__item-name
      .plus-button
        include ../plus-button/plus-button
      .dopdown-guests__count
      .minus-button
    li.dopdown-guests__item
    li.dopdown-guests__item