.date-range {
  position: relative;
  margin-bottom: 20.56px;
  width: 320px;
  background-color: #ffffff;
  @import './__dates/date-range__dates.scss';
  @import './__arrival/date-range__arrival.scss';
  @import './__calendar/date-range__calendar.scss';
}