.colorsandtype {

  &__colorsMenu {
  position: absolute;
  width: 269.26px;
  height: 610px;
  left: 149.74px;
  top: 145px;
  // border: solid 1px ;
  display: flex;
  flex-direction: column;
  justify-content:space-between
  }

  &__titleMenu {
    position: absolute;
    width: 403px;
    height: 321px;
    left: 846px;
    top: 145px;
  }
position: relative;
width: 1440px;
height: 900px;

background: #FFFFFF;
}