.colorsandtype {

  &__colorsMenu {
  position: absolute;
  width: 269.26px;
  height: 610px;
  left: 149.74px;
  top: 145px;
  border: solid 1px ;
  }

  &__titleMenu {
  position: absolute;
  width: 10.94px;
  height: 7.09px;
  left: 55.77px;
  top: 48.35px;
  }
position: relative;
width: 1440px;
height: 900px;

background: #FFFFFF;
}