body {
  background: #E5E5E5;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
input[type="submit"] {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  background-color: inherit;
  border-width: 2px;
  border-width: 0px;
  text-transform: uppercase;
  color: #BC9CFF;
  padding: 0;
  }
input[type="reset"] {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: inherit;
  border-width: 0px;
  color: rgba(31, 32, 65, 0.5);
  padding: 0;

}

@import './blocks/Form-Elements/text-field-default/text-field-default.scss';
@import './blocks/Form-Elements/minus-button/minus-button.scss';
@import './blocks/Form-Elements/plus-button/plus-button.scss';
@import './blocks/Form-Elements/masked-text-field/masked-text-field.scss';
@import './blocks/Form-Elements/dopdown-guests/dopdown-guests.scss';
.formElements{
  position: relative;
  padding: 140px 0 0 141px;
  width: 1440px;
  height: 1853px;
  background: #FFFFFF;
}
.emblem {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 30px;
}
.container {
  margin: 0 141px 131px 0;
  width: 320px;
}

.name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
.condition {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.colomn1 {
  position: relative;
  display: flex;
  flex-direction: column;
}

.text-field-default-container{
  width: 320px;
  margin-bottom: 20px;
  .name {
    display: inline-block;
    margin-top: 3px;
  }
  .condition {
    float: right;
    margin-bottom: 8px;
  }
}
.text-field-hover-focus-container {
  .text-field-default {
    padding-bottom: 3px;
  }
  width: 320px;
  .name {
    display: inline-block;
  }
  .condition {
    font-size: 11.7px;
    float: right;
    margin-bottom: 5.44px;
  }
}