@import './blocks/header-menu/header-menu.scss';
@import './blocks/Standart-Nav-Bar/_Standart-Nav-Bar.scss';
@import './blocks/Form-Elements/text-field-default/text-field-default.scss';
@import './blocks/Form-Elements/subscription-text-field/subscription-text-field.scss';
@import './blocks/social/social.scss';
@import './blocks/Footer-Widgets-and-Copyright-Bar/Footer-Widgets-and-Copyright-Bar.scss';
@import './blocks/Cards/login/login.scss';
@import './blocks/Form-Elements/login-data/login-data.scss';
@import './blocks/Form-Elements/big-button-arrow/big-button-arrow.scss';
@import './blocks/button-else/button-else.scss';
h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}
h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
html {
  font-size: 14px;
}
body {
  display: flex;
  justify-content: center;
  background: #E5E5E5;
 }
header {
  position: relative;
}
main {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  padding: 172px 0 172px 0;
  background-image: url('./img/image5.png');
  background-position: bottom;
}
.content__login {
  max-width: 380px;
}