.Standart-Nav-Bar {
  padding: 0.9375rem 0 0 0 ;

  &__body {
    display: flex;
    // justify-content: space-between;
    max-width: 1160px;
    
  }

  &__logo {
    
  }

  &__header-menu {
  
  }

  @import './__button-default/--big/Standart-Nav-Bar__button-default--big.scss';

  &__button-default {
  }

  @import './__button-else/Standart-Nav-Bar__button-else.scss';

  &__rect {
  }
}