.Standart-Nav-Bar {
  padding: 0.9375rem 8.75rem ;

  &__body {
    display: flex;
    // justify-content: space-between;
    // max-width: 1160px;
    
  }

  &__logo {
    margin-right: 17.769375rem;
    
  }

  &__header-menu {
    height: 21px;
    margin: 0.6875rem 1.25rem 0.5rem 0;
  
  }

  @import './__button-default/--big/Standart-Nav-Bar__button-default--big.scss';

  &__button-default {
  }

  @import './__button-else/Standart-Nav-Bar__button-else.scss';

}